
.line-col-2 span {
  width: 84px;
  padding: 2px;
  padding-top :10px;
  text-align: center;
  border:1px solid black;
  height: 25px;
  cursor: pointer;
}
.line-col span {
    padding-top :10px !important;
    width: 120px;
    padding: 2px;
    text-align: center;
    height: 25px;
   
  }
  .active{
  background-color: yellow;
   
  }
  .line-col {
    border:1px solid black;

  }

.line-list {
    display: flex;
    width: 100%;
    font-size: 10px;
}
.line-col {
    width: 20%;
    display: flex;
}
.line-col-2 {
    width: 80%;
    display: flex;
}
.line-col-2-header span {
    width: 84px;
    padding: 2px;
    text-align: center;
    border:1px solid black;
  }
  .line-col-header span {
      width: 120px;
      padding: 2px;
      text-align: center;
    }
    .line-col-header {
      border:1px solid black
    }
  .line-list-header {

      display: flex;
      height: 20px;
      font-size:10px;
      font-weight: bold;
      width: 100%;
  }
  .line-col-header {
      width: 20%;
      display: flex;
  }
  .line-col-2-header {
      width: 80%;
      display: flex;
  }